.form-control{
    cursor: pointer;
    border: 1px solid #29313F;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 400px;
    margin-left: 150px;
    cursor: text;
}

.inputContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.alert {
    color: red;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}