body {
    height: 740px;
  background-image: url("./assets/bus-background.jpg");
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Prevent repeating the image */
  background-position: center;
}
